body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

}
ul li 
{
    padding:10px;
}
footer
{
    margin-top: auto;
}
@media screen and (max-width:692px) 
{
    .aa
    {
        display: none;
        float:none;
        width:100%;
    }
    .topnav details
    {
        display:block;
        float:none;
        width: 100%;

    }
    .image
    {
        display:block;
        float: none;
        text-align: center;
    }
    ul li
{
    list-style: none;
    margin-right: 100%;
    margin-left: -10%;
}
summary
{
    margin-right: 100%;/*430*/
    margin-left: 0%;
    margin-top: -15%;
}
.image
{
    margin-bottom: 2%;
}
}
@media screen and (min-width:693px)
{
    .topnav details
    {
        display: none;
    }
    .image
    {
        display: none;
    } 
}
@media screen and (max-width:376px) {
summary
{
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -27%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -20%;
}
}
@media screen and (max-width:415px) {
summary
{
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -23%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -20%;
}
}
@media screen and (max-width:391px) {
summary
{
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -25%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -20%;
}
}
@media screen and (max-width:431px) {
summary
{
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -23%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -18%;
}
}
@media screen and (max-width:362px) {
summary
{
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -41%;
}
ul li
{
    list-style: none;
    margin-right: 100%;
    margin-left: -24%;
}
}
@media screen and (max-width:541px) {
summary
{
    margin-right: 100%;
    margin-left: 0%;
    margin-top: -19%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -14%;
}
}
@media screen and (max-width:281px) {
summary
{
    margin-right: 100%;
    margin-left: -1%;
    margin-top: -40%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -32%;
}
}
@media screen and (max-width:413px) {
summary
{
    margin-right: 100%;
    margin-left: -1%;
    margin-top: -25%;
}
ul li{
    list-style: none;
    margin-right: 100%;
    margin-left: -20%;
}
}
details > summary /*https://stackoverflow.com/questions/6195329/how-can-you-hide-the-arrow-that-is-displayed-by-default-on-the-html5-details-e*/
{
    list-style: none;
}
details > summary::-webkit-details-marker
{
    display:none;
}
.topnav
{
    background-color: rgb(112,44,247);
    padding:25px;
    text-align: center;
    width: 100%;
}
.topnav a
{
    color:rgb(230, 230, 230);
    padding:25px;
}
.topnav a:hover
{
    color:rgb(255,255,255);
    text-decoration: none;
    transition: 1s;
}
.jumbotron-footer
{
    margin-bottom: 0 !important;
    background-color: #2c2c35 !important;
    color:white;
    width: 100%;

}
.afooter a
{
    text-decoration: none;
    color:rgb(230, 230, 230);
    display: block;
}
.afooter a:hover
{
    color:rgb(255,255,255);
}
hr
{
    border-color: white;
}
.ft 
{
    word-spacing: 15px;
}
.windows
{
    background-color: #0078d6;
    width:25%;
    height:25%;
}
.linux
{
    background-color:  #E95420;
}
.jumbotron-main 
{
    background-color: white !important;
}
.jumbotron-windows
{
    width:50%;
    height: auto;
    margin: auto;
    background-color: white !important;
    margin-bottom: 5%;
}
.flex-windows
{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:800px)
{
    .flex-windows
    {
        flex-direction: column;
    }
}
#winbtn
{
    background-color: #0078d6;
    padding:5px;
    color: white;
    border-radius: 25px;
}
#winbtn:hover 
{
    text-decoration: none;
    color: #0078d6;
    background-color: white;
    transition: 1s;
}
#awin 
{
    margin-left:3%;
    margin-top:5%;
}
.jumbotron-linux
{
    width:50%;
    height: auto;
    margin: auto;
    margin-bottom: 5%;
    background-color: white !important;
}
.flex-linux
{
    display: flex;
    flex-direction: row;
}
@media screen and (max-width:800px)
{
    .flex-linux
    {
        flex-direction: column;
    }
}
#linbtn
{
    background-color:#E95420;
    padding:5px;
    color: white;
    border-radius: 25px;
}
#linbtn:hover 
{
    text-decoration: none;
    color:#E95420;
    background-color: white;
    transition: 1s;
}
#alin 
{
    margin-left:3%;
    margin-top:5%;
}